body {
    margin-bottom: 70px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 60px; 
    line-height: 60px; 
    background-color: #c4c2c2;
  }

.nav-menu-element {
    font-size: 1.3em;
}

#crud-user {
    border: 2px solid black;
    border-radius:10px;

    margin: 1em;
    padding: 1em;

}
